# Ignorar entornos virtuales
venv/
env/
.venv/

# Ignorar caché de Python
__pycache__/
*.pyc
*.pyo

# Ignorar las carpetas mapeadas en los volúmenes
data/
paddle_cache/
.paddleocr/

# Ignorar archivos de IDE
.idea/
.vscode/